<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>karim</title>

    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
    <link type="text/css" href="stylesheets/style.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <style>
      .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
      }
      .ui-autocomplete-loading {background:url('img/indicator.gif') no-repeat right center}
      /* IE 6 doesn't support max-height
       * we use height instead, but this forces the menu to always be this tall
       */
      * html .ui-autocomplete {
        height: 100px;
      }
    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#paramlabel").focus(function() {
                console.log('in : ' + $("#widgetName").val());
                $("#paramlabel").attr("autocomplete", "on");
                switch($("#widgetName").val()) {
                    case "Bourse":
                        var consumed = $.getJSON("/stockmarket", function() {
                        })
                        .done(function(data) {
                            console.log(data)
                            var vals = []
                            $.each(data, function(value, key) {
                                if (key.name.length < 4) {
                                    console.log(key.name  + " : SHORT");
                                }
                                var t = {'label': key.name, 'value':key.symbol};
                                vals.push(t);
                            });
                            console.log("vals: " + JSON.stringify(vals));                              
                            $("#paramlabel").autocomplete({
                                source:vals,
                                minLength: 3,
                                select: function(e, ui) {
                                    e.preventDefault() // <--- Prevent the value from being inserted.
                                    $("#param").val(ui.item.value);
                                    $(this).val(ui.item.label);
                                }
                            });
                        })
                        .fail(function() {
                          console.log( "error" );
                        })
                        break;
                    case "Coinmarketcap":
                        var consumed = $.getJSON("/coinmarketcap", function() {
                        })
                        .done(function(data) {
                            console.log(data)
                            var vals = []
                            $.each(data["data"], function(value, key) {
                                if (key.name.length < 4) {
                                    console.log(key.name  + " : SHORT");
                                }
                                var t = {'label': key.name, 'value':key.id};
                                vals.push(t);
                            });
                            console.log("vals: " + JSON.stringify(vals));                              
                            $("#paramlabel").autocomplete({
                                source:vals,
                                minLength: 3,
                                select: function(e, ui) {
                                    e.preventDefault() // <--- Prevent the value from being inserted.
                                    $("#param").val(ui.item.value);
                                    $(this).val(ui.item.label);
                                }
                            });
                        })
                        .fail(function() {
                          console.log( "error" );
                        })
                        break;
                    case "Steam":
                        var consumed = $.getJSON("/steam", function() {
                        })
                        .done(function(data) {
                            console.log(data)
                            var vals = []
                            $.each(data, function(value, key) {
                                if (key.name.length < 4) {
                                    console.log(key.name  + " : SHORT");
                                }
                                var t = {'label': key.name, 'value':key.appid};
                                vals.push(t);
                            });
                            console.log("vals: " + JSON.stringify(vals));                              
                            $("#paramlabel").autocomplete({
                                source:vals,
                                minLength: 3,
                                select: function(e, ui) {
                                    e.preventDefault() // <--- Prevent the value from being inserted.
                                    $("#param").val(ui.item.value);                                    
                                    $(this).val(ui.item.label);
                                }
                            });
                        })
                        .fail(function() {
                          console.log( "error" );
                        })
                        break;
                    case "Allociné":
                        break;
                    default:
                    try {
                            $("#paramlabel").autocomplete("destroy");
                        }
                        catch(error) {
                        }
                }
            }).blur(function() {
                console.log('out');
            });
            $("#submit").click(function(){
                console.log("SUBMIT");
                $("#param").val('');
                $("#paramlabel").val('');
            })
        });
    function labelToParam() {
        console.log("labelToParam")
        if ($("#param").val() == '') {
            $("#param").val($("#paramlabel").val());
        }
    }
    </script>

</head>
<body>
<select id="widgetName">
    <option value="NULL">Selectionnez un widget</option>
    <option value="Météo">Météo d'une ville</option>
    <option value="Bourse">Valeur boursière d'une action</option>
    <option value="Date/Heure">Date et heure d'une ville</option>
    <option value="Google Map">Afficher une ville sur Google Map</option>
    <option value="Steam">Nombre de joueurs connectés à un jeux Steam</option>
    <option value="Allociné">Horaires d'un cinéma</option>
    <option value="Coinmarketcap">Valeur d'un cryptomonnaie</option>
    <option value="Subreddit Subscriber">Nombre de subscribers à un subreddit</option>
</select>
<input id="paramlabel" type="text" placeholder="Paramètre du Widget">
<input id="param" type="hidden">
<button id="submit" onclick="labelToParam(); addWidget()">Ajouter</button>

</div>
<div id="root">
    <script src="scripts/server.js"></script>
</div>

</body>

</html>
