<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>karim</title>

    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
    <link type="text/css" href="stylesheets/style.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <style>
      .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
      }
      .ui-autocomplete-loading {background:url('img/indicator.gif') no-repeat right center}
      /* IE 6 doesn't support max-height
       * we use height instead, but this forces the menu to always be this tall
       */
      * html .ui-autocomplete {
        height: 100px;
      }
    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#paramlabel").change(function() {
              console.log( "Handler for .change() called : " + $("#paramlabel").val());
            });
            $("#paramlabel").focus(function() {
                console.log('in : ' + $("#widgetName").val());
                switch($("#widgetName").val()) {
                    case "Bourse":
                        startLoading();
                        var consumed = $.getJSON("/stockmarket", function() {
                        })
                        .done(function(data) {
                            console.log(data)
                            var vals = []
                            $.each(data, function(value, key) {
                                if (key.name.length < 4) {
                                    console.log(key.name  + " : SHORT");
                                }
                                var t = {'label': key.name, 'value':key.symbol};
                                vals.push(t);
                            });
                            console.log("vals: " + JSON.stringify(vals));                              
                            $("#paramlabel").autocomplete({
                                source:vals,
                                minLength: 3,
                                select: function(e, ui) {
                                    e.preventDefault() // <--- Prevent the value from being inserted.
                                    $("#param").val(ui.item.value);
                                    $(this).val(ui.item.label);
                                }
                            });
                        })
                        .fail(function() {
                          console.log( "error" );
                        })
                        .always(function () {endLoading();});
                        break;
                    case "Coinmarketcap":
                        startLoading();
                        var consumed = $.getJSON("/coinmarketcap", function() {
                        })
                        .done(function(data) {
                            console.log(data)
                            var vals = []
                            $.each(data["data"], function(value, key) {
                                if (key.name.length < 4) {
                                    console.log(key.name  + " : SHORT");
                                }
                                var t = {'label': key.name, 'value':key.id};
                                vals.push(t);
                            });
                            console.log("vals: " + JSON.stringify(vals));                              
                            $("#paramlabel").autocomplete({
                                source:vals,
                                minLength: 3,
                                select: function(e, ui) {
                                    e.preventDefault() // <--- Prevent the value from being inserted.
                                    $("#param").val(ui.item.value);
                                    $(this).val(ui.item.label);
                                }
                            });
                        })
                        .fail(function() {
                          console.log( "error" );
                        })
                        .always(function () {endLoading();});
                        break;
                    case "Steam":
                        startLoading();                    
                        var consumed = $.getJSON("/steam", function() {
                        })
                        .done(function(data) {
                            console.log(data)
                            var vals = []
                            $.each(data, function(value, key) {
                                if (key.name.length < 4) {
                                    console.log(key.name  + " : SHORT");
                                }
                                var t = {'label': key.name, 'value':key.appid};
                                vals.push(t);
                            });
                            console.log("vals: " + JSON.stringify(vals));                              
                            $("#paramlabel").autocomplete({
                                source:vals,
                                minLength: 3,
                                select: function(e, ui) {
                                    e.preventDefault() // <--- Prevent the value from being inserted.
                                    $("#param").val(ui.item.value);                                    
                                    $(this).val(ui.item.label);
                                }
                            });
                        })
                        .fail(function() {
                          console.log( "error" );
                        })
                        .always(function () {endLoading();});
                        break;
                    case "Allociné":
                        $("#paramlabel").on("change paste keyup", function() {
                            if ($("#paramlabel").val() == "")
                                return;
                            startLoading();
                            var consumed = $.getJSON("/allocinesearch/" + $("#paramlabel").val(), function() {
                            })
                            .done(function(data) {
                                console.log(data)
                                var vals = []
                                if (data["feed"]["totalResults"] > 0) {
                                    $.each(data["feed"]["theater"], function(value, key) {
                                        var t = {'label': key.name + " - " + key.city, 'value':key.code};
                                        vals.push(t);
                                    });
                                    console.log("vals: " + JSON.stringify(vals));                              
                                    $("#paramlabel").autocomplete({
                                        source:vals,
                                        minLength: 3,
                                        select: function(e, ui) {
                                            e.preventDefault() // <--- Prevent the value from being inserted.
                                            $("#param").val(ui.item.value);
                                            $(this).val(ui.item.label);
                                        }
                                    });
                                }
                            })
                            .fail(function() {
                              console.log( "error" );
                            })
                            .always(function () {endLoading();});
                        });
                        break;
                    default:
                    try {
                            $("#paramlabel").autocomplete("destroy");
                        }
                        catch(error) {
                        }
                }
            }).blur(function() {
                $("#paramlabel").off("change paste keyup");
                console.log('out');
            });
            $("#submit").click(function(){
                console.log("SUBMIT");
                $("#param").val('');
                $("#paramlabel").val('');
            })
        });

    function startLoading() {
        $("#paramlabel").css("background-image",  'url(../img/indicator.gif)');
        $("#paramlabel").attr('maxlength','0');
        // $("#paramlabel").prop('disabled', true);
    }

    function endLoading() {
        $("#paramlabel").css("background-image", "none");
        $("#paramlabel").attr('maxlength','20');
        // $("#paramlabel").prop('disabled', false);
    }

    function labelToParam() {
        console.log("labelToParam")
        var opt = $("#widgetName").val();
        if ((opt == "Bourse" || opt == "Steam" || opt == "Allociné" || opt == "Coinmarketcap") && $("#param").val() == '') {
            event.preventDefault();
            $("#paramerror").css("display", "inline-block");
            $("#paramerror").fadeOut(4000);
            return;
        } else if ($("#param").val() == '') {
            $("#param").val($("#paramlabel").val());
        }
        addWidget();
    }
    </script>

</head>
<body>
<select id="widgetName">
    <option value="NULL">Selectionnez un widget</option>
    <option value="Météo">Météo d'une ville</option>
    <option value="Bourse">Valeur boursière d'une action</option>
    <option value="Date/Heure">Date et heure d'une ville</option>
    <option value="Google Map">Afficher une ville sur Google Map</option>
    <option value="Steam">Nombre de joueurs connectés à un jeux Steam</option>
    <option value="Allociné">Horaires d'un cinéma</option>
    <option value="Coinmarketcap">Valeur d'un cryptomonnaie</option>
    <option value="Subreddit Subscriber">Nombre de subscribers à un subreddit</option>
</select>
<input id="paramlabel" type="text" placeholder="Paramètre du Widget">
<!-- <img id="loader" src="img/indicator.gif" style="display: none;"> -->
<input id="param" type="hidden">
<button id="submit" onclick="labelToParam()">Ajouter</button>
<span id="paramerror" style="display: none; color: red;">Choisir une option dans la liste</span>

</div>
<div id="root">
    <script src="scripts/server.js"></script>
</div>

</body>

</html>
